body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: black;
    background-image: url('./marimekko.png');
    background-size: cover;
    /* background-position: center;  */


    /* Ensure full height of viewport */
    display: flex;
    flex-direction: column;


}

#indexFrame {
    width: 100%;
    height: 100%;
    border: none;
}

/* #signin{
    background-color: rgb(4, 119, 207);

} */

#signin {
    text-align: center;
}


#passWordplace {
    margin-top: 25%;
    color: white;
    border-radius: 10px;
    font-size: 40px;
}

#inputPassword {
    border-radius: 10px;
    padding-right: 50px;
    padding-top: 8px;
    font-size: 23px;
}

#signinButton {
    background-color: #4CAF50;
    /* Green */
    margin-top: 10px;
    border: none;
    color: white;
    padding: 20px 64px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#signinButton:hover {
    background-color: #45a049;
    /* Darker Green */
}

#signinButton:active {
    background-color: #214923;
}

/* #indexFrame{
    flex: 1;
} */

#footerAcessToken {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 4x;
    position: absolute;
    /* top: 98%; */
    margin-bottom: 0%;
    padding-bottom: 0%;
    bottom: 0px;
    width: 100%;

}