
@font-face{
  font-family: "WoltHeading-Omnes";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/October/OctoberCyrillicKazakh-Black.woff2") format("woff2"), url("./fonts/October/OctoberCyrillicKazakh-Black.woff") format("woff");
  unicode-range: u+0400-04ff, u+0500-052f;
}

body {
  background-image: url('../main.png');
  background-size: cover;
  background-attachment: fixed;


  /* background-color: #00C2E8; */

  /* font-family: WoltHeading-Omnes, -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Arimo, "Open Sans", sans-serif; */
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  /* font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Arimo, "Open Sans", sans-serif; */
  font-family:  "WoltHeading-Omnes";
  color: #ffffff;
  font-size: 23px;
  font-weight: 700;
}

.ResetOrSubmit {
  background-color: rgb(4, 119, 207);
  border-radius: 8px;
  width: 180px;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(118, 223, 255);
  text-align: 0;
  margin-left: 6px;
  border: solid;
  border: 0px;

}


.title {
  /* font-family: fantasy; */
  text-shadow:
    1px 1px 9px rgb(233, 233, 233);
}

button {
  background-color: rgb(4, 119, 207);
  border-radius: 8px;
  width: 80px;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(118, 223, 255);
  text-align: 0;
  margin-left: 6px;
  border: solid;
  border: 0px; 
}

button:hover {
  background-color: rgb(4, 90, 160);
}

button:active {
  background-color: rgb(8, 33, 141);
}




input {
  background-color: aqua;
  width: 35%;
  height: 40px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding-left: 17px;
  font-size: 23px;
  font-weight: bold;
  border: solid;
  border: 0;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Arimo, "Open Sans", sans-serif;
  color: rgb(65, 14, 14);
}

input:hover {
  background-color: rgb(217, 217, 217);
}


#inputAnswer{
  background-color: aqua;
  width: 36%;
  bottom: 0px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding-left: 5px;
  font-size: 23px;
  font-weight: bold;
  border: solid;
  border: 0;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Arimo, "Open Sans", sans-serif;
  color: rgb(65, 14, 14);
  margin-top: 5px;
  margin-bottom: -63px;
  margin-left: 17px;

}

#inputAnswer:hover {
  background-color: rgb(217, 217, 217);
}

#dataList button{
  background-color: rgba(175, 15, 15, 0.572);
  color: white;
}

#dataList button:hover{
  background-color: rgba(147, 13, 13, 0.572);
  color: white;
}

#dataList button:active{
  background-color: rgba(110, 11, 11, 0.572);
  color: white;
}