body {
  background-image: url('../main.png');
  background-size: cover;
  /* background-position: center;  */
  background-color: #00C2E8;
  /* font-family: WoltHeading-Omnes, -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Arimo, "Open Sans", sans-serif; */
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  /* font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Arimo, "Open Sans", sans-serif; */
  /* font-family: sans-serif	; */
  color: #ffffff;
  font-size: 23px;
  font-weight: 700;

  /* 10px 10px 0px rgba(255, 37, 106),  Bottom right shadow */
  /* 3px 5px 2px rgb(37, 48, 255);  */

}


.title {
  /* font-family: fantasy; */
  text-shadow:
    1px 1px 9px rgb(233, 233, 233);
}

button {
  background-color: rgb(4, 119, 207);
  border-radius: 8px;
  width: 180px;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(118, 223, 255);
  text-align: 0;
  margin-left: 6px;
  border: solid;
  border: 0px;
}

button:hover {
  background-color: rgb(4, 90, 160);
}

button:active {
  background-color: rgb(8, 33, 141);
}




input {
  background-color: aqua;
  width: 18%;
  height: 40px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding-left: 17px;
  font-size: 23px;
  font-weight: bold;
  border: solid;
  border: 0;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Arimo, "Open Sans", sans-serif;
  color: rgb(65, 14, 14);
}

input:hover {
  background-color: rgb(217, 217, 217);
}